# https://hub.docker.com/_/odoo/
# https://www.youtube.com/watch?v=vCUBjMytEH8
# https://github.com/CampiGroup/odoo-docker-setup
version: '3.1'
services:
  web:
    image: odoo:18
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      # https://hub.docker.com/_/odoo/#environment-variables
      # - HOST=db
      # - USER=odoo
      - HOST_FILE=/run/secrets/db_host
      - USER_FILE=/run/secrets/db_user
      - PASSWORD_FILE=/run/secrets/db_pass
      - ADMIN_PASSWORD_FILE=/run/secrets/odoo_admin_pass
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
    secrets:
      - db_host
      - db_user
      - db_pass
      - odoo_admin_pass

  db:
    image: postgres:15
    environment:
      # https://hub.docker.com/_/postgres
      # https://github.com/docker-library/docs/blob/master/postgres/README.md
      # - POSTGRES_USER=odoo
      # - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=postgres
      - POSTGRES_USER_FILE=/run/secrets/db_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_pass
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    secrets:
      - db_user
      - db_pass

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    ports:
      - 5050:80
    depends_on:
      - db
    environment:
      - PGADMIN_DEFAULT_EMAIL_FILE=/run/secrets/pgadmin_email
      - PGADMIN_DEFAULT_PASSWORD_FILE=/run/secrets/pgadmin_pass
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    secrets:
      - pgadmin_email
      - pgadmin_pass

volumes:
  odoo-web-data:
  odoo-db-data:
  pgadmin-data:

secrets:
  db_host:
    file: ./secrets/db_host.txt
  db_pass:
    file: ./secrets/db_pass.txt
  db_user:
    file: ./secrets/db_user.txt
  odoo_admin_pass:
    file: ./secrets/odoo_admin_pass.txt
  pgadmin_email:
    file: ./secrets/pgadmin_email.txt
  pgadmin_pass:
    file: ./secrets/pgadmin_pass.txt

