# https://hub.docker.com/_/odoo/
# https://www.youtube.com/watch?v=vCUBjMytEH8
# https://github.com/CampiGroup/odoo-docker-setup
version: '3.1'
services:
  web:
    image: odoo:18
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      # https://hub.docker.com/_/odoo/#environment-variables
      - HOST=db
      - USER=odoo
      - PASSWORD_FILE=/run/secrets/postgresql_password
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
    secrets:
      - postgresql_password

  db:
    image: postgres:15
    environment:
      # https://hub.docker.com/_/postgres
      # https://github.com/docker-library/docs/blob/master/postgres/README.md
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      #- POSTGRES_PASSWORD=odoo
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresql_password
      - PGDATA=/var/lib/postgresql/data/pgdata # necesario?
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    secrets:
      - postgresql_password

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    environment:
    # https://access.crunchydata.com/documentation/pgadmin4/latest/container_deployment.html
    # https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html
      PGADMIN_DEFAULT_EMAIL: infmcrego@elorrieta-errekamari.com
      PGADMIN_DEFAULT_PASSWORD: odoo
      # PGADMIN_DEFAULT_PASSWORD_FILE
    ports:
      - 5050:80
    depends_on:
      - db
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  odoo-web-data:
  odoo-db-data:
  pgadmin-data:

secrets:
  postgresql_password:
    file: ./secrets/postgresql_password
